h1 Friend Spaces
.gallery
  .person(ng-repeat="(id, person) in main.people | objToArr | orderBy:'name' | filter:query")
    a(href="#/people/{{person._id}}")
      img.imgGallery(ng-src="{{person.photo}}")

a.btn.btn-primary(href="#/people/new") Add Profile
h2 Search Your Space
input(placeholder="Search", ng-model="query")

div(ng-include="'assets/views/modal.html'" onload="main.onModalLoad()")
